*{
    margin:0;
    padding:0;
}
ul{
    list-style: none
}
a{
    text-decoration: none
}
font-face{
    font-family: Tahoma
}
body{
    font: 13px/1.38 Tahoma
}
.header{
    background: #9fcdff;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
   }
header .hdr-list li{
    float:left;
}
.description{
    font-size: 18px;
    color: #464a4e;
    line-height: 21px;
    margin: 21px 58px 0 21px;
}
header:after,
nav:after{
    content:"";
    display:table;
    clear: both;
}

 .basket{
    padding: 12px 1px 12px 58px;
     background-repeat: no-repeat;
     background-position: 0 50%;
     background-image: url("/media/img/basket.png");
     display: block;
}
 .info-block{
     text-align: right;
 }
 .net-icons li{
     float: right;
     margin-left: 5px;
 }
 .net-icons li{
     height: 20px;
     width: 18px;
     display: block;
     background: url('/media/img/vk.png') no-repeat 0 0;

 }
 .net-icons li a.vk{
     background-position: -26px 0;
 }
 .tel{
     font-size: 16px;
     color: #1b1e21;
     display: block;
     clear: right;
 }
 .registration li{
     float: right;
     margin-left: 7px;
 }
 .registration li a{
     color: #004085;
     text-decoration: underline;
     font-size: 12px;

 }
 .nav{
     background: #030003;
 }
 nav>ul>li{
     float: left;
     position: relative;
 }
nav>ul>li>a{
    color: #cce5ff;
    text-transform: uppercase;
    padding: 15px 15px;
    display: block;
}
nav>ul>li>a:hover{
    color: aqua;
}
li>ul{
    display: none;
    position: absolute;
    top: 48px;
}
nav>ul>li:hover ul{
    display: block;
    background: aqua;
}
li>ul>li{
    border-top: 1px solid #cce5ff;
    width: 95px;
}
li>ul>li>a{
    display: block;
    text-align: center;
    color: #17a2b8;
    padding: 5px;
}
.about{
    background: white;
    text-decoration: darkgreen;
    font-size: 18px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.form{
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #464a4e;
    letter-spacing:1px;
    position: fixed; left: 30%;
    margin-top: 100px;

}
.form_input,
.form_button{
    letter-spacing: 9px;
    font-size: 10px;
}
#logo{
    max-inline-size: 156px;
    display: inline-block;
    height: 156px;
    
    }
